.background{
	background: #FFC2A8;
}

.header{
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	text-align: center;
	line-height: 65px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 0px;
}